
.paisNimi{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 33px;
    letter-spacing: 0px;
    color: #0b0b0b;
    line-height: 33px;
    max-width: 150px;
    padding-left: 15px;
}
.paisSektsioon{
    padding-top: 32px;
    background-image: url('../assets/Hills.png');
    background-size: cover;
    background-repeat: none;
    width: 100%;
    height: 778px;
}

.paisSektsioonuudised{
    padding-top: 32px;
    background-image: url('../assets/Hills.png');
    background-size: cover;
    background-repeat: none;
    width: 100%;
    height: 120px;
}

.paisLogo {
    width: 66px;
    height: 64px;
}

.pais-menyy {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2.67px;
    color: #000000;
    text-transform: uppercase;
    padding-top: 15px;
    width: 100%;
    margin-left: 480px;
}

.pais-menyy ul {
    color: #0b0b0b;
    text-decoration: none;
    list-style-type: none;
    width: 100%; 
   
}

.pais-menyy li {
    
    margin-left: 20px;
    
}


.pais-menyy a {
    color: #0B0B0B;
}


.paisSektsioon-pealkirjad {
    padding-top: 20px;
}

.paisSektsioon-pealkirjad h1,
.paisSektsioon-pealkirjad h2,
.paisSektsioon-pealkirjad h3 {
    font-weight: 800;
    letter-spacing: 0px;
    color: #0B0B0B;
    text-transform: uppercase;
}

.paisSektsioon-pealkirjad h1 {
    font-size: 74.39px;
    line-height: 91px;
}
.paisSektsioon-pealkirjad h2 {
    font-size: 39.57px;
    line-height: 48px;
}
.paisSektsioon-pealkirjad h3 {
    font-size: 20.83px;
}

.rida {
    display: flex;
}

.rida div {
    margin-right: 3rem;
}

.liblikas1 {
    margin-top: -30px;
    width: 75px;
    height: 66px;
    margin-left: auto;
}
.liblikas2 {
    margin-top: 20px;
    width: 60px;
    height: 32px;
    margin-left: -500px;
    
}

.button {
    width: 247px;
    height: 58px;
    background-color: black;
    margin-top: 38px; 
    display: grid; 
}

.p {
    text-align:center;
    letter-spacing: 2.25px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12.5px;
    margin: auto;
    display: flex;
}
.pealispilt{
    padding-top: 50px;
}
.pealispilt .matkaja {
    width: 750px;
    height: 750px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: -400px;
}
.container{
    padding-left: 10px;
}
.blokk {
    min-width: 80%;
}
.card{
    
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.btn{
    margin-bottom: 20px;
    background-color: rgb(175, 170, 170) !important;
    color:white !important;
}
.btn:hover{
    margin-bottom: 20px;
    background-color: rgb(224, 222, 222) !important;
    color:rgb(0, 0, 0) !important;
}

.pealkiri{
    padding-top:20px;
    font-size: 40px;
    height:85px;
    font-weight: bold;
    padding-bottom: 80px;
    font-family: 'Montserrat', sans-serif;

}
    
.card-title{
        padding-top:5px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 18px;
        height:55px;
        margin-right: 25px;
    }
.sisu-kaart{
    padding-top:15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-right: 25px;
}

.card-img-top{
    padding-top: 20px;
  
 }
 
  
   .col-md-4{
     margin-bottom: 20px;
   }
 
   
 .col-4{
     color: #000000;
     padding-top: 32px;
 }
 .paisSektsioonuudised{
    padding-top: 32px;
    background-image: url('../assets/Hills.png');
    background-size: cover;
    background-repeat: none;
    width: 100%;
    height: 120px;
}
.paisLogo{
    width: 66px;
    height: 64px;
}
.nav{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2.67px;
    color: #000000;
    text-transform: uppercase;
    padding-top: 15px;
    width: 100%;
}

.nav ul {
    color: #0b0b0b;
    text-decoration: none;
    list-style-type: none;
    width: 100%;   
    ;
  }

  .nav a{
      color: #0b0b0b;
      
  }
  .nav a:hover{
    color: #121068;
    
}
  .nav li{
      margin-left: 20px;
    
  }
  .regamisform{
    margin-top:50px
   }
   .registreerumine-pilt{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    }
    .regform{
        margin-left: auto;
        margin-right: auto;
    }
    
    .yksikuudis{
        padding-top: 50px;
        padding-bottom: 20px;
        
    }

    .nimetus{
        padding-left: 15px;
     
    }

    .kontakt{
        margin-top: 50px;
        padding: 50px;
       
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .jumbotron h1{
        line-height: 40px;
        width: 100%;
        text-align: center !important;
        padding-bottom: 30px;
  }
    
    .jumbotron p {
     margin-bottom: 50px !important;
      text-align: center;
    }
    .jumbotron{
        background-color: white !important;
    }
    .form{
        display: inline-block;
    margin-left: auto;
    margin-right: auto;
    }

    .adminpealkiri{
        margin-top: 50px;
        
    }
    .matkamenyy{
        padding-top:10px;
        background-color: rgb(255, 255, 255);
        height:500px;
        
    }
    .matkakirjeldus{
        padding: 30px;
        background-color: #ffffff;
       color:#5f5f5f
        
    }
    .registreerijad{
       height: 50px;
        margin-top:30px;
        margin-bottom:30px;
        text-transform: uppercase;
        color:#000000;
        border-bottom: #9c9c9cc5;
        border-left: transparent;
        border-right: transparent;
        border-top: transparent;
        border-style:solid ;
        border-width: 1px;
    }
    .matkanimetus{
        margin-bottom: 10px;
        text-transform: uppercase;
        color:#3b3ef3;
        font-size: 30px;
    }
    .osalejad{
        text-transform: uppercase;
        font-size: 30px;
        color: rgb(0, 0, 0);
        border-radius: 5px;
    
        
    }
    .osaleja{
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: 300;
    }
    p{
        color: #000000;
    }
    .kirjelduseblokk{
        padding-top:10px;
        padding-bottom:10px;
        margin-left: 20px;
    }
    
    .btn-success, .btn-danger{
        margin: 2px;
        border-radius: 5px;
        font-size: 20px;
        text-align: center;
        width: 50px;
        margin-bottom: 20px;
    }
    
    .osa{
        color: #000000;
        text-transform: uppercase;
        font-size: 20px;
    }
@media screen and (min-width: 600px) {
    .blokk {
        min-width: 50%;
        width: 50%;
    }.blokk {
        min-width: 100%;
    }
    
    @media screen and (min-width: 600px) {
        .blokk {
            min-width: 50%;
            width: 50%;
        }
    }
.pealispilt .vari {
    width: 1087px;
    height: 87px;
    margin-top: -37px;
    margin-left: -178px;
}
@media (min-width: 1200px) {
    .paisSektsioon-pealkirjad .paisSektsioon .pealispilt .paisSektsioon  {
        max-width: 95%;
    
}
.registreeumine-pilt{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;

}
@media screen and (min-width: 1480px) {
    .paisSektsioon-pealkirjad {
        padding-top: 231px;
    }
}