<!DOCTYPE html>
<html lang="en">

<head>

    <title>Matkaklubi</title>
    <%- include("../partials/p2is.ejs")%>
      
</head>

<body>
    <div class="paisSektsioon">
        <div class="container">
            <div class="row pt-1">
                <div class="col-12 col-md-5 d-flex">
                    <img class="paisLogo" src="./assets/klubilogo.png" alt="">
                    <div class="paisNimi">
                        MATKA KLUBI
                    </div>
                </div>
                <div class="col-12 col-md-7 pais-menyy">
                    <%- include("../partials/menyy.ejs") %>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 paisSektsioon-pealkirjad">
                    <div class="rida">
                    </div>
                </div>

                <div class="container">
                    <h1>Sisesta teade</h1>
                    <div class="sisend mb-4">
                        <div>
                            <label for="email">E-posti aadress</label>
                            <input class="form-control" type="text" name="" id="email">
                        </div>

                        <div>
                            <label for="nimi">Nimi</label>
                            <input class="form-control" type="text" name="" id="nimi">
                        </div>

                        <div>
                            <label for="teade">Teade</label>
                            <input class="form-control" type="text" name="" id="teade">
                        </div>
                        <button id="btn" onclick="lisategevus()" type="button" class="mt-2 btn btn-success">Lisa
                            teade</button>
                    </div>

                    <div id="valjund"></div>
                    <script src="./kontakt.js"></script>
                </div>
</body>

</html>